body {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
}

span {
    font-size: 14px;
    line-height: 17.07px;
}
